@tailwind base;
@tailwind components;
@tailwind utilities;

.outline-title {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 0.5px lightgrey;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    }